{% extends 'base.html' %}
{% block content %}

<h1>Sale Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">Name:{{ sale.name }}</span>
    <p>OGprice: {{ sale.ogprice }}</p>
    <p>Percentage: {{ sale.percentage }}</p>
    <p>Afprice: {{ sale.afprice }}</p>
  </div>
</div>
<div class="card-action">
  <a href="{% url 'sales_update' sale.id %}">Edit</a>
  <a href="{% url 'sales_delete' sale.id %}">Delete</a>
</div>
{% for photo in sale.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}">
{% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}
<form action="{% url 'add_photo' sale.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
</form>
<div class="col s6">
  <form action="{% url 'add_mod' sale.id %}" method="post">
    {% csrf_token %}
    {{ mod_form.as_p }}
    <input type="submit" class="btn" value="Add Mod">
  </form>
  <table class="striped">
    <thead>
      <tr><th>Date</th><th>Mods</th></tr>
    </thead>
    <tbody>
      {% for mod in sale.mod_set.all %}
        <tr>
          <td>{{mod.date}}</td>
          <td>{{mod.get_mods_display}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
<!-- This is all new markup to be added just above the <script> tag -->
  <hr>
  <div class="row">
    <div class="col s6">
      <h3>{{ sale.name }}'s Genres</h3>
      {% if sale.genres.count %}
        {% for genres in sale.genres.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
              <span style="color: {{ genres.color }}">{{ genres.name }}</span> 
              </span>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>No Genres :(</h5>
      {% endif %}
    </div>
    <div class="col s6">
      <h3>Available Genres</h3>
      {% if genres.count %}
        {% for genres in genres.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
              <span style="color: {{ genres.color }}">{{ genres.name }}</span> 
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'assoc_genres' sale.id genres.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Add</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>{{cat.name}} Already Has All Genres Available</h5>
      {% endif %}

<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  var selectEl = document.getElementById('id_mods');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}